[package]
name = "chimera_cli"
version = "0.0.1"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
base64 = { workspace = true }
clap = { workspace = true }
rand_core = { version = "0.6", features = ["std"] }
x25519-dalek = { version = "2.0.1", features = ["static_secrets"] }
