name: CI

on:
  push:
    tags: ["v*"]
    branches: ["master"]
  pull_request:
    branches: ["master"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  PACKAGE: "clash"
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "clash-rs"
  RUST_LOG: "clash=TRACE"
  RUST_TOOLCHAIN: "nightly-2025-09-15"
  SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  CROSS_CONTAINER_UID: 1001
  CROSS_CONTAINER_GID: 118
jobs:
  lint:
    name: Lint (ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v2

      - name: cargo fmt
        run: cargo fmt --all -- --check
      # todo
      #- name: cargo clippy
      #  run: cargo clippy --workspace --all-targets --all-features -- -D warnings

  test:
    name: Tests (${{ matrix.os }})
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v2

      - name: cargo test
        run: cargo test --workspace --all-features
